html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    background-color: #161616;
}

.container {
    margin: 0 auto;
    max-width: 1198px;
    padding: 0 10px;
}

ul {
    margin-left: 0;
    padding-left: 0;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.boll {
    display: block;
    background-color: #ffa800;
    width: 132px;
    height: 132px;
    border-radius: 50%;
}

.fa-twitter {
    color: #2046b3;
}

.fa-invision {
    color: #2046b3;
}

.fa-facebook-f {
    color: #2046b3;
}