@import "_global";
@import "_vars";

.header {
  background-color: #000e16;

  &__inner {
    background-image: url(../images/header/header-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 654px;
  }

  &__title {
    font-size: 45px;
    color: #fff;
    font-weight: 600;
    padding-top: 70px;
    padding-left: 46px;

    &--yellow {
      color: #ffc600;
      margin-right: 4px;
    }
  }

  &__list {
    display: flex;

    &-item {}

    &-link {
      color: yellow;
      font-size: 18px;
      font-weight: 400;
      margin-left: 42px;
      transition: all 0.3s;

      &:hover,
      &:focus {
        color: #fff;
        border-bottom: 1px solid #ffc600;
      }
    }
  }
}

.sublime {
  background-color: #161616;

  &__inner {
    background-color: #fff;
    padding: 0 0 60px;
  }

  &__top {
    display: flex;
    margin-bottom: 73px;

    &-title {
      color: #000;
      font-weight: 600;
      font-size: 80px;
      position: relative;
      margin: 72px 134px;

      &::after {
        content: "";
        width: 133px;
        height: 1px;
        background-color: #c5c5c5;
        position: absolute;
        bottom: 0;
        left: 180px;
      }

      &--up {
        font-weight: 600;
        font-size: 50px;
        color: #717171;
      }

      &--yellow {
        color: #ffc600;
      }
    }
  }

  &__communication {
    position: relative;
    margin: 72px 0px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 160px;
      background-color: #c5c5c5;
      top: 10px;
      left: -20px;
    }

    &-title {
      font-style: italic;
      color: #000;
      margin-bottom: 21px;
    }

    &-text {
      font-size: 14px;
      color: #595959;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: #000;
    text-align: center;
    padding: 0 70px;
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 57px;
    height: 57px;
    margin-left: 100px;
    margin-bottom: 23px;
  }

  &__title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 21px;
  }

  &__text-1 {
    font-size: 10px;
    margin-bottom: 17px;
  }

  &__text-2 {
    font-size: 10px;
  }
}

.projects {
  background-color: #141414;

  &__box {
    background-color: #fff;
  }

  &__wrap {
    flex-direction: column;
  }

  &__title {
    position: relative;
    padding-top: 53px;
    font-weight: 600;
    font-size: 50px;
    color: #000;
    margin-left: 82px;

    &--yellow {
      color: #ffc600;
    }

    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      background-color: #c5c5c5;
      bottom: 0;
      top: 115px;
      left: 180px;
    }
  }

  &__btn {
    background-color: transparent;
    padding: 29px 0 0;
    outline: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 15px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;

    &--active {
      margin-right: 34px;
      margin-left: 82px;
    }

    &:hover,
    &::after {
      border-bottom: 1px solid #ffc600;
    }
  }

  &__items {
    margin-top: 21px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
    width: 100%;
  }

  &__item {
    flex-direction: column;
    width: 294px;

    &-img {
      width: 294px;
      height: 267px;
      background-color: #000;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.5s;

      &:hover {
        opacity: 0.9;
        transform: scale(1.01);
      }
    }
  }
}

.process {
  background-color: #161616;

  &__inner {
    background-color: #fff;
    padding-bottom: 65px;
  }

  &__title {
    padding: 50px 0 0 80px;
    margin-bottom: 28px;
    color: #000;
    font-weight: 600;
    font-size: 40px;
    position: relative;

    &::after {
      content: "";
      width: 180px;
      height: 1px;
      background-color: #c5c5c5;
      position: absolute;
      bottom: 0;
      left: 240px;
    }

    &-yellow {
      color: #ffc600;
    }
  }

  &__text {
    margin-left: 80px;
    color: #000;
    font-size: 13.8px;
    font-style: italic;
    margin-bottom: 24px;
  }

  &__subtext {
    margin-left: 80px;
    font-size: 12px;
    color: #595959;
  }

  &__items {
    margin-top: 50px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__img-1 {
    margin-left: 145px;
  }

  &__img-2 {
    margin-right: 173px;
  }

  &__info {
    width: 536px;
    height: 289px;
    padding: 20px 43px 37px 0;

    &-2 {
      width: 536px;
      height: 289px;
      padding: 53px 0 37px 170px;
    }

    &-3 {
      width: 536px;
      height: 289px;
      padding: 53px 170px 37px 0;
    }

    &-title {
      font-weight: 600;
      font-size: 50px;
      color: #000;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 13px;
      color: #000;
      font-style: italic;
      margin-bottom: 12px;
    }

    &-subtext {
      color: #595959;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.provided {
  background-color: #161616;

  &__wrap {
    background-image: url(../images/provided/img__bg.jpg);
    height: 478px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    &-title {
      padding: 50px 0 0 80px;
      margin-bottom: 28px;
      color: #fff;
      font-weight: 600;
      font-size: 40px;
      position: relative;

      &::after {
        content: "";
        width: 169px;
        height: 1px;
        background-color: #c5c5c5;
        position: absolute;
        bottom: 0;
        left: 260px;
      }

      &--yellow {
        color: #ffc600;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    padding: 40px 10px 100px 20px;
    width: 400px;
    height: 100px;

    &-title {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 13px;
    }
  }
}

.team {
  background-color: #161616;

  &__inner {
    height: 470px;
    background-color: #fff;
    position: relative;
  }

  &__title {
    padding: 50px 0 0 80px;
    margin-bottom: 28px;
    color: #000;
    font-weight: 600;
    font-size: 40px;
    position: relative;

    &::after {
      content: "";
      width: 100px;
      height: 1px;
      background-color: #c5c5c5;
      position: absolute;
      bottom: 0;
      left: 168px;
    }

    &--yellow {
      color: #ffc600;
    }
  }

  &__top {
    position: absolute;
    right: 137px;
    top: 45px;
    width: 657px;
    height: 132px;
  }

  &__text {
    color: #000;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 15px;
  }

  &__subtext {
    color: #595959;
    font-size: 13px;
  }

  &__items {
    display: flex;
  }

  &__img {
    width: 181px;
    height: 186px;
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__info {
    text-align: center;

    &-name {
      color: #000;
      font-size: 13px;
    }

    &-position {
      color: #000;
      font-size: 12px;
      font-style: italic;
    }
  }
}

.testimonials {
  &__inner {
    height: 419px;
    background-color: #000;
    color: #fff;
  }

  &__title {
    padding: 50px 0 0 80px;
    margin-bottom: 28px;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    position: relative;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 210px;
    }

    &--yellow {
      color: #ffc600;
      margin-right: -10px;
    }
  }

  &__box {
    width: 700px;
    height: 80px;
    padding: 50px 0 0 140px;
  }

  &__text {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 24px;
  }

  &__subtext {
    font-size: 13px;
  }

  &__items {
    position: relative;
  }

  &__item {
    position: absolute;
    right: 272px;
    top: -100px;
  }

  &__img {
    top: 6px;
    right: 6px;
    position: absolute;
    width: 121px;
    height: 121px;
  }

  &__info {
    margin-top: 20px;
    text-align: center;

    &-title {}

    &-position {
      font-size: 13;
      font-style: italic;
    }
  }
}

.blogs {
  &__inner {
    min-height: 543px;
    background-color: #fff;
    position: relative;
  }

  &__title {
    padding: 50px 0 0 80px;
    margin-bottom: 28px;
    color: #000;
    font-weight: 600;
    font-size: 40px;
    position: relative;

    &::after {
      content: "";
      width: 100px;
      height: 1px;
      background-color: #c5c5c5;
      position: absolute;
      bottom: 0;
      left: 85px;
    }

    &--yellow {
      color: #ffc600;
    }
  }

  &__list {
    margin-top: 60px;
    margin-left: 180px;


    &-item {
      margin-bottom: 30px;
    }

    &-link {
      font-weight: 600;
      color: #000;
      font-size: 18px;
      transition: all 0.5s;

      &:hover {
        color: #ffc600;
      }
    }
  }

  &__items {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
  }

  &__item {
    margin-right: 40px;
    width: 210px;
    height: 332px;

  }

  &__img {
    margin-bottom: 10px;
    width: 180px;
    height: 206px;

  }

  &__data {
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .blogs__info {
    color: #000;

    &-title {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 15px;
    }

    &-text {
      font-size: 12px;
    }
  }
}










.footer {}

.footer__inner {
  display: flex;
  background-color: #2046b3;

}


.footer__box {
  width: 511px;
  height: 612px;

  margin-left: 50px;
}

.footer__wrap {
  border-bottom: 2px solid #fff;

}

.footer__title {
  padding: 50px 0 0 80px;
  margin-bottom: 28px;
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  position: relative;

  &::after {
    content: "";
    width: 210px;
    height: 1px;
    background-color: #c5c5c5;
    position: absolute;
    bottom: 0;
    left: 85px;
  }

  &--yellow {
    color: #ffc600;
  }

}

.footer__form {}

.footer__input-1 {
  padding: 0 5px 0 5px;
  height: 37px;
  color: #fff;
  width: 100%;
  outline: 0;
  border: 2px solid #c5c5c5;
  background-color: transparent;
  margin-bottom: 10px;
}

.footer__input-2 {
  padding: 0 5px 0 5px;
  height: 34px;
  color: #fff;
  width: 42%;
  outline: 0;
  border: 2px solid #c5c5c5;
  background-color: transparent;
  margin-right: 31px;
}

.footer__input-3 {
  padding: 0 5px 0 5px;
  height: 34px;
  color: #fff;
  width: 51%;
  outline: 0;
  border: 2px solid #c5c5c5;
  background-color: transparent;
  margin-bottom: 20px;
}

.footer__textarea {
  padding: 5px 5px 0 5px;
  color: #fff;
  outline: 0;
  border: 2px solid #c5c5c5;
  background-color: transparent;
  margin-bottom: 15px;
}

.footer__btn {
  display: inline-block;
  outline: 0;
  border: 0;
  background-color: #ffc600;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 11px 29px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &:active {
    transform: translateY(1px);
  }
}

.footer__location {
  margin-left: 18px;
  margin-top: 60px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__location-title {
  font-size: 16px;
  margin-bottom: 40px;
}

.footer__address {
  margin-bottom: 18px;

}

.footer__address-link {
  color: #a8b2db;
  margin-left: 16px;
}

.footer__phone {
  margin-bottom: 13px;
}

.footer__phone-link {
  color: #a8b2db;
  margin-left: 30px;
}

.footer__email {}

.footer__email-link {
  color: #a8b2db;
  margin-left: 30px;
}

.footer__list {
  display: flex;
  margin-left: 20px;
}

.footer__list-item {
  background-color: #dedfe0;
  padding: 6px 8px;
  border-radius: 50%;
  margin-right: 20px;
}

.footer__list-link {}